<div class="borrower-account-main">
    <a type="submit" name="signup_borrower_btn" value="submit_value" href="/borrowers/add" class="mainpage_buttons">Заполнить анкету заёмщика</a>
 <a href=""><button class="borrower-account-application-btn"> Заполнить анкету заёмщика</button></a>
</div>