<center>
    <div class="borrower-account-main">
        <div class="borrower-account-application-btn borrower-account-style">
            <a type="submit" name="application-btn" value="submit_value" href="/borrowers/application" class="form-buttons borrower-application-btn">Заполнить анкету заёмщика</a>
        </div>
        <div class="borrower-account-load-file borrower-account-style">
            <label class="input-group col-1-3">
                <span class="input-group-label">Загрузить выписку:</span><br>
                <input id="borrower-file" class="" type="file" accept=".txt" name="file" required>
                <button class="borrower-file-send">Отправить</button>
            </label><br>
        </div>
        <div class="borrower-table-info borrower-account-style">
            <table class="borrower-table">
                <tr>
                    <th>Статус заявки</th>
                    <th>Дата платежа</th>
                    <th>Размер платежа</th>
                </tr>
                <tr>
                    <td>pending</td>
                    <td>0</td>
                    <td>0</td>
                </tr>

            </table>

        </div>
    </div>
</center>
