<div class="borrower-account-main">
    <div class="borrower-account-application-btn">
        <a type="submit" name="application-btn" value="submit_value" href="/borrowers/add" class="form-buttons">Заполнить анкету заёмщика</a>
    </div>
</div>