<head>
    <script src="/javascripts/borrowerSignIn.js"></script>
</head>
<div>
    <a name="signup_borrower_btn" href="/borrowers/profile" class="form-buttons button-enter-profile">Войти в кабинет</a>
</div>
<center>
    <div class="borrower-main-profile">
        <div id="borrower-login" class="flex-row form-block">
            <div class="borrower-header">
                <h1>Вход на сайт</h1>
            </div>
            <div class="borrower-application">
                <label class="input-group col-1-3">
                    <span class="input-group-label">Ваш e-mail:</span><br>
                    <input id="borrower-email" class="input-group-input" type="text" name="email" value="" required>
                </label><br>

                <label class="input-group col-1-3">
                    <span class="input-group-label">Ваш пароль:</span><br>
                    <input id="borrower-password" class="input-group-input" type="text" name="password" value=""
                           required>
                </label><br>
            </div>
            <div class="borrower-login-btn">
                <button id="btn-submit-1" class="form-buttons button-sign">Отправить</button>
            </div>
            <p class="borrower-sign-up-error"></p>
        </div>
    </div>
    </div>
</center>