<head>
    <script src="/javascripts/borrowerProfile.js"></script>
</head>
<center>
    <div class="borrower-account-main">
        <div class="borrower-account-application-btn borrower-account-style">
            <a  name="application-btn" href="/borrowers/application" class="form-buttons borrower-application-btn">Заполнить анкету заёмщика</a>
        </div>
        <div class="borrower-account-load-file borrower-account-style">
            <label class="borrower-file">
                <span class="borrower-file-upload">Загрузить выписку:</span><br>
                <input id="borrower-file" class="" type="file" accept=".txt" name="file" required>
                <button class="borrower-file-send">Отправить</button>
            </label><br>
        </div>
        <div class="borrower-table-info borrower-account-style">
            <table class="borrower-table">
                <tr>
                    <th>Статус заявки</th>
                    <th>{{reqStatus}}</th>
                </tr>
            </table>
        </div>
        <div class="borrower-account-payments">
            <a name="see-payment-btn" href="/borrowers/payment" class="form-buttons borrower-application-btn">Информация о платежах</a>
        </div>
        <div class="borrower-info borrower-account-style">
            <a name="see-borrower-info" href="/borrowers/info" class="form-buttons borrower-application-btn">Данные пользователя</a>
        </div>
    </div>
</center>
