<!DOCTYPE html>
<html>

  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel="icon" type="image/png" href="images/logo1.png"/>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

    {{{head}}}
  </head>
  <body>
    <header>
      <img src="/images/logo.png" class="jetimg">
      {{#if trueHeader}}
           <a type="submit" name="signup_borrower_btn" value="submit_value" href="/borrowers/add" class="form-buttons">Рег. Заемщиков</a>
          <a type="submit" name="signup_lender_btn" value="submit_value" href="
          /lenders/regLender" class="form-buttons">Рег. Инвесторов</a>
          <a type="submit" name="signin_borrower_btn" value="submit_value" href="/borrowers/enter" class="form-buttons">Кабинет заемщика</a>
          <a type="submit" name="signin_lender_btn" value="submit_value" href="/lenders/logLender" class="form-buttons">Кабинет инвестора</a>
      {{/if}}
    </header>
    {{{body}}}
  </body>
</html>
