<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="images/logo1.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <script src="/javascripts/borrowerSignUp.js"></script>
  </head>
  <body>
    <header>
      <img src="images/logo.png" class="jetimg">
      {{#if trueHeader}}
          <button type="submit" name="signup_borrower_btn" value="submit_value" href="" class="mainpage_buttons">Заемщикам</button>
          <button type="submit" name="signup_lender_btn" value="submit_value" href="" class="mainpage_buttons">Инвесторам</button>
          <button type="submit" name="signin_borrower_btn" value="submit_value" href="" class="mainpage_buttons">Кабинет заемщика</button>
          <button type="submit" name="signin_lender_btn" value="submit_value" href="" class="mainpage_buttons">Кабинет инвестора</button>
      {{/if}}
    </header>
    {{{body}}}
  </body>
</html>
