<!DOCTYPE html>
<html>

  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel="icon" type="image/png" href="images/logo1.png"/>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

    {{{head}}}
  </head>
  <body>
    <header>
      <img src="/images/logo.png" class="jetimg">
      {{#if trueHeader}}
          <a name="signup_borrower_btn" href="/borrowers/add" class="form-buttons">Заемщикам</a>
          <a  name="signup_lender_btn" href="" class="form-buttons">Инвесторам</a>
          <a  name="signin_borrower_btn"  href="/borrowers/enter" class="form-buttons">Кабинет заемщика</a>
          <a  name="signin_lender_btn"  href="" class="form-buttons">Кабинет инвестора</a>
      {{/if}}
        {{#unless toMainPage}}
            <a name="signup_borrower_btn" href="/" class="form-buttons">На главную</a>
        {{/unless}}
    </header>
    {{{body}}}
  </body>
</html>
