
<div class="lender-main">
    <div id="new-lender-form" class="flex-row form-block">
        <h1>Регистрация</h1>
        <label class="input-group col-1-3">
            <span class="input-group-label">Ваше имя:</span><br>
            <input id="lender-name" class="input-group-input" type="text" placeholer="Введите имя" name="name" value="" required>
        </label><br>

        <label class="input-group col-1-3">
            <span class="input-group-label">Ваш e-mail:</span><br>
            <input id="lender-email" class="input-group-input" type="text" placeholer="Введите email" name="email" value="" required>
        </label><br>

        <label class="input-group col-1-3">
            <span class="input-group-label">Ваш пароль:</span><br>
            <input id="lender-password" class="input-group-input" type="text" placeholer="Введите пароль" name="password" value="" required>
        </label><br>

        <label class="input-group col-1-3">
            <span class="input-group-label">Ваш номер телефона:</span><br>
            <input id="lender-phone" class="input-group-input" type="text" placeholer="Введите ваш номер телефона" name="phone" value="" required>
        </label><br>

         <label class="input-group col-1-3">
            <span class="input-group-label">Серия и номер паспорта:</span><br>
            <input id="lender-phone" class="input-group-input" type="text" placeholer="Введите ваши пасротные данные" name="phone" value="" required>
        </label><br>


        <button id="btn-submit" class="button dark">Отправить</button>
        <p class="lender-sign-up-error"></p>
    </div>
    <div class="lender-email-confirmation">
        <p class="lender-email-confirmation-message"> Для подтверждения регистрации, пожалуйста, перейдите по ссылке, которую мы выслали вам на почту. Спасибо!</p>
    </div>


</div>