<div>

  <h1>Введите ваш логин и пароль для входа в личный кабинет.</h1>

  <section class="Lender_login">

   <form id="login_Lender" action="/lenders/logLender" method="POST">


     <label for="lender-email">Ваш Email</label>
     <input type="text" name="lender-email">
     <br>
     <br>

     <label for="lender-password">Ваш пароль:</label>
     <input type="text" name="lender-password">
     <br>
     <br>
     <br>
     <input type="submit" value="Войти">

   </form>
   <br>