<!-- <div>

  <h1>Выберете действие</h1>

  <section class="Lender_form_regist">


    <form id="loginLender" action="/lenders/logLender" method="get">
     <button id="btn-log" class="button dark">Войти</button>
     <br>
   </form>


   <form id="registrationLender" action="/lenders/regLender" method="get">
    <button id="btn-reg" class="button dark">Зарегистрироваться</button>
    <br>
  </form>


  <br>

</section>

</div> -->