<!-- <head><script src="/javascripts/lenderSignIn.js"></script></head>

<div class="lender-main">
    <div id="lender-login" class="flex-row form-block">
        <h1>Вход на сайт</h1>

        <label class= "input-group col-1-3">
            <span class="input-group-label">Ваш e-mail:</span><br>
            <input id="lender-email" class="input-group-input" type="text"
             placeholer="Введите email" name="email" value="" required>
        </label><br>

        <label class="input-group col-1-3">
            <span class="input-group-label">Ваш пароль:</span><br>
            <input id="lender-password" class="input-group-input" type="text" 
            placeholer="Введите пароль" name="password" value="" required>
        </label><br>

        <button id="btn-login" class="button dark">Отправить</button>
        <p class="lender-sign-up-error"></p>
        
    </div>

</div> -->