<div>

  <h1>Сколько вы хотите инвестировать?</h1>

   <form id="payLender" action="/lenders/profile/paid" method="POST">
     <label for="loan_summ">Сумма в руб.</label>
     <input type="text" name="loan_summ">
     <br>
     <br>
     <br>
     <input type="submit" value="Перечислить">

   </form>


   <br>
</div>