<div>

  <h1>Сколько вы хотите инвестировать?</h1>

  <section class="Lender_login">

   <form id="payLender" action="/lenders/profile/paid" method="post">
     <label for="loan_summ">Сумма в руб.</label>
     <input type="text" name="loan_summ">
     <br>
     <br>
     <br>
     <input type="button" value="Перечислить">

   </form>


   <br>