<center>
    <div>
        <table class="borrower-payments-table borrower-account-style">
            <tr>
                <th>Дата платежа</th>
                <th>Размер платежа</th>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>
    </div>
</center>