body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#new-borrower-form {
  display: block;
}

.borrower-email-confirmation-message {
    display: none;
}

.borrower-sign-up-error {
    display: none;
    color: red;
}

.input-group {
    display: inline-block;
    margin-bottom: 10px;
}