body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 650px;
    height: 100vh;
    background-position: left center;
    background-attachment: scroll;
    background-image: url(https://static.tildacdn.com/tild6366-6365-4461-b034-303439613762/shutterstock_1048786.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: #00B7FF;
}

.borrower-account-application-btn {

}

.borrower-email-confirmation-message {
    display: none;
    color: #ffffff;
}

.borrower-sign-up-error {
    display: none;
    color: #ff0000;
}

header {
    padding-bottom: 30px;
}

.input-group {
    display: inline-block;
    margin-bottom: 10px;
}

.jetimg {
    height: 100px;
    vertical-align: top;
    margin: -20px;
}

.mainpage_buttons {
    display: inline-block;
    float: right;
    vertical-align: top;
    color: #ffffff;
    border-color: #244ea3;
    background-color: #244ea3;
    font-weight: 400;
    width: 210px;
    height: 40px;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    border-radius: 12px;
    margin: 10px;
    padding-bottom: 4px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}

.mainpage_buttons:hover {
    border-color: #528FF4;
    background-color: #528FF4;
}

#new-borrower-form {
    display: block;
}
